.delMessage {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &.show {
        opacity: 1;
        visibility: visible;
    }

    .box {
        width: 100%;
        padding: 40px 30px;
    }
    .control {
        text-align: right;
        width: 100%;
        padding: 15px;
        background-color: rgb(226, 235, 233);
    }
}
