.sectionProducts {
    margin-top: 120px;

    .breadcrumbs {
        span {
            font-size: 14px;
        }
        h3 {
            width: auto;
            margin-top: 10px;
        }
        margin-bottom: 30px;
    }
}
