a {
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  text-decoration: none !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

li {
  list-style: none;
}
ul {
  list-style-type: none;
}
